<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Registration</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
		
	</head>
	<style>
                        body
                                {
                                        background-color: #FFD39B;
                                }
                </style>
	<body>
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Зарегистрироваться</button>
		</form>
	</body>
</html>
